#input
{
  width: 900px;
  
}
#boarder
{
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: row;

  width: 300px;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
  
}